h1{
background-color: aqua;
text-align: center;
}
form{
    max-width: 500px;
    text-align: left;
    padding: 20px;
    border: 20px solid black;
    border-radius: 10px;
    margin:auto;
}
input{
    padding: 50px;
    border: none;
    border-radius:5px;
}
.input-element{
display: flex;
flex-direction: column;
border-radius: 5px;
}
select{
    padding:5px;
    border: none;
    border-radius: 5px;
}
input[type="checkbox"]{
    width: 30px;
    height: 15px;
}
    






